# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
cache: packages
warnings_are_errors: true
sudo: false

addons:
  apt:
    packages:
      - libnlopt-dev

matrix:
  include:
  - r: oldrel 
  - r: release
  - r: release
    os: osx
    osx_image: xcode7.3
    before_install:
      - sudo tlmgr install framed titling
  - r: devel

r_packages:
  - covr

after_success:
  - Rscript -e 'covr::codecov()'
